@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adadma Tova Photo Studio</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Adama Tova studio</h2>
        <p>
            Come and enjoy from a spacial and buty pictures
        </p>
        <p>Bar mitzva? Bat mitzva? Halake? Brith? or every holiday I here for you </p>
    </div>
    <div class="col-md-4">
        <h2>Video additing at Hi level</h2>
        <p>Try and run tell your frainds</p>
    </div>
</div>